<html>
    <head>
        <title>
            Terraform Training
        </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"><link rel="stylesheet" href="classless.css" />
        <link rel="stylesheet" href="https://classless.de/classless.css">
    </head>
    <body>
        <h2>Welcome to Terraform Training</h2>

<form method="POST" action="/">

  <label for="email">Email ID:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>
  <input type="submit" value="OK">
</form> 

    </body>
</html>